.blog {
    background: $white;
    h3 {
        @include headingFontSize(20px);
        text-transform: capitalize;
        line-height: 32px;
        text-align: left;
    }
    h2 {
        @include headingFontSize(43px);
        letter-spacing: 1.3px;
        padding: 20px 10px;
        line-height: 1;
    }

    form {
        margin: 40px 0;
        &:focus-within {
            transform: scale(1.025);
            box-shadow: -10px 10px 0px $yellow; //Based on codepen by Eric Baily https://codepen.io/ericwbailey/pen/KQOpRM
        }
    }

    @include tablet {
        [type="text"], [type="email"] {
            width: 49%;
            display: inline-block;
        }
    }

    @include tabletWide {
        [type="text"], [type="email"] {
            width: 100%;
            display: block;
        }
    }

    @include desktop {
       [type="text"], [type="email"] {
            width: 49%;
            display: inline-block;
        } 
    }

    & > .wrapper {
        @include tabletWide {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto 1fr;
            grid-gap: 0 5%;
            grid-template-areas:
                'aside content'
                'blank content';
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    main {
        @include tabletWide {
            grid-area: content;
            position: relative;
            bottom: 10%;
            margin-bottom: -20%;
        }
    }

    .innerWrapper {
        max-width: 800px;
    }
}

aside {
    text-align: left;
    margin-top: 40px;
    background: white;
    max-width: 620px;
    @include tabletWide {
        grid-area: aside;
        margin-left: 5%;
    }

}

.asideContent {
    padding: 15px;
    @include tablet {
        display: flex;
    }
    @include tabletWide {
        flex-direction: column;
    }
}
.asideImage {
    position: relative;
    right: 5%;
    bottom: 20px;
    max-width: 500px;
    
}

.asideAbout {
    margin-bottom: 40px;
    @include tablet {
        flex-basis: 45%;
    }
    a {
        color: $green;
        font-style: italic;
    }

}

.asideRecent {
    @include tablet {
        flex-basis: 55%;
    }
    ul {
        padding: 20px 50px;
    }
    a {
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        background: $green;
        border-radius: 50%;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.blogImage {
    margin-top: 40px;
    box-shadow: -9px 9px $yellow;
}

.blogPost {
    box-shadow: -9px 9px $yellow;
    text-align: left;
    padding: 5px;
    @include tabletWide {
        padding: 20px;
    }
    span {
        color: $green;
        font-style: italic;
    }
    a {
        font-weight: bold;
    }
}

.comments {
   text-align: left; 
    h3 {
        padding: 30px;
    }
}

.commentItem {
    display: flex;
}

.profileImage {
    flex: 1 0 100px;
    padding: 3px;
}

.commentContent {
    padding-left: 5px;
    span {
        @include headingFontSize(20px);
        color: $green;
    }
}


