// BLOG PAGE STYLES
.blog {
    background: $white;
    h3 {
        @include headingFontSize(20px);
        text-transform: capitalize;
        line-height: 32px;
        text-align: left;
    }
    h2 {
        @include headingFontSize(43px);
        letter-spacing: 1.3px;
        padding-top: 40px;
        line-height: 1;
    }
    // Blog form styles
    form {
        margin: 40px 0;
        &:focus-within {
            transform: scale(1.025);
            @include boxShadow(false); //Based on codepen by Eric Baily https://codepen.io/ericwbailey/pen/KQOpRM
        }
    }

    @include tablet {
        [type="text"], [type="email"] {
            width: 49%;
            display: inline-block;
        }
    }

    @include tabletWide {
        [type="text"], [type="email"] {
            width: 100%;
            display: block;
        }
    }

    @include desktop {
       [type="text"], [type="email"] {
            width: 49%;
            display: inline-block;
        } 
    }
    // Adding grid on desktop view to position the aside and main
    & > .wrapper {
        @include tabletWide {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto 1fr;
            grid-gap: 0 5%;
            grid-template-areas: 
                'aside content'
                'blank content';
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    main {
        @include tabletWide {
            grid-area: content;
            position: relative;
            bottom: 10%;
            margin-bottom: -20%;
        }
    }

    .innerWrapper {
        max-width: 800px;
    }
}

// Aside section styles
aside {
    text-align: left;
    margin-top: 40px;
    background: white;
    @include tabletWide {
        grid-area: aside;
        margin-left: 5%;
    }

}

.asideContent {
    padding: 15px;
    @include tablet {
        display: flex;
    }
    @include tabletWide {
        flex-direction: column;
    }
}
.asideImage {
    position: relative;
    right: 5%;
    bottom: 20px;
    
}

.asideAbout {
    margin-bottom: 40px;
    @include tablet {
        flex-basis: 45%;
    }
    a {
        color: $darkGreen;
        font-style: italic;
        font-weight: bold;
    }

}

.asideRecent {
    @include tablet {
        flex-basis: 55%;
    }
    ul {
        padding: 20px 50px;
    }
    a {
        position: relative;
    }
    a::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        background: $green;
        border-radius: 50%;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Blog post section styles
.blogImage {
    margin-top: 40px;
    @include boxShadow(false);
}

.blogPost {
    @include boxShadow(false);
    text-align: left;
    padding: 20px;
    @include tabletWide {
        padding: 7%;
    }
    span {
        color: $darkGreen;
        font-style: italic;
        margin-bottom: 40px;
        display: inline-block;
    }
    a {
        font-weight: bold;
    }
}

// Comments section styles
.comments {
   text-align: left; 
    h3 {
        padding: 50px 0 30px;
        font-size: 30px;
    }
}

.commentItem {
    display: flex;
    flex-direction: column;
    &:first-of-type {
        margin-bottom: 75px;
    }
    @include tablet {
        flex-direction: row;
    }
}

.profileImage {
    flex: 1 0 100px;
    padding: 3px;
    width: 70%;
    max-width: 150px;
    padding-left: 30px;
}

.commentContent {
    padding-left: 30px;
    span {
        @include headingFontSize(20px);
        color: $darkGreen;
    }
}


