// DEFAULT FORM STYLINGS
form {
    padding: 15px;
    transition: 250ms transform ease-out, 150ms box-shadow ease-out;
    font-family: $heading;
    background-color: $white;
    
}

input {
    border: none;
    border-bottom: 2px solid $green;
    padding: 0 10px 15px;
    margin: 10px 0;
    width: 100%;
    background-color: inherit;
}

textarea {
    height: 200px;
    border: 2px solid $green;
    padding: 20px;
    width: 100%;
    background-color: inherit;
}

[type="submit"] {
    background: $green;
    color: white;
    padding: 15px 20px;
    transition: 150ms background-color;
    &:hover {
        background-color: darken($green, 10%);
    }
}