// VARIABLES

// COLOURS
$black: #2c2c2c;
$white: #f0efed;
$darkGreen: #074105;
$yellow: #f8e71c;
$green: #0e902d;

// FONTS
$heading: 'Josefin Sans', sans-serif;
$body: 'Roboto', sans-serif;

// TRANSITIONS
$defaultTrans: 150ms ease;

// MIXINS
@mixin headingFontSize($fontSize) {
    font-family: $heading;
    font-weight: bold;
    font-size: $fontSize;
}

@mixin boxShadow($right: true){
    @if $right == true {
        box-shadow: 12px 12px $yellow;
        @include tablet {
            box-shadow: 20px 20px $yellow;
        }
    } @else {
        box-shadow: -12px 12px $yellow;
        @include tablet {
            box-shadow: -20px 20px $yellow;
        }
    }
}

// MEDIA QUERIES
$tabletWidth: 600px;
$tabletWideWidth: 900px;
$desktopWidth: 1200px;

@mixin tablet {
    @media (min-width: #{$tabletWidth}) {
        @content;
    }
}

@mixin tabletWide {
    @media (min-width: #{$tabletWideWidth}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktopWidth}) {
        @content;
    }
}

// DEFAULT STYLINGS
html {
    font-size: 62.5%;
    min-width: 320px;
}

body {
    font-size: 2.0rem;
    font-family: $body;
    text-align: center;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

p {
    margin: 10px 0;
}

.wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.button {
    background: $green;
    padding: 10px 15px;
    text-transform: capitalize;
    color: white;
    margin: 10px;
    transition: transform 250ms ease-out, box-shadow 150ms ease-out;
    &:hover {
        box-shadow: 0 10px 6px -6px #777;
        transform: scale(1.05);
    }
    
}

*:focus {
    outline: 2px solid lighten($green, 10%)
}