header {
    display: flex;
    min-height: 50vh;
    background-size: cover;
    background-repeat: none;
    color: white;
}

.index header {
    background-image: url('../assets/contactHeader.jpg');
    min-height: 75vh;
    h1 {
        font-family: $heading;
        font-size: 70px;
        color: white;
        margin: auto;
        display: block;
        text-align: left;
        line-height: 60px;
        span {
            display: block;
            color: $yellow;
        }
    }
    [href="index.html"] {
        color: $yellow;
    }
}

.contact header,
.blog header {
    min-height: 50vh;
    background-position: center center;
    h1 {
        @include headingFontSize(70px);
        line-height: 92px;
        margin: auto;
        color: $yellow;
        @include tabletWide {
            margin: 0 0 0 5%;
            align-self: flex-end;
            
        }
    }
}

.contact header {
    background-image: url('../assets/contactHeader.jpg');
    [href="contact.html"] {
        color: $yellow;
    }
}

.blog header {
    background-image: url('../assets/blogHeader.jpg');
    [href="blog.html"] {
        color: $yellow;
    }
}