.index {
    h3 {
       @include headingFontSize(32px);
       letter-spacing: 1px;
       padding: 15px 0 5px;
       line-height: 1; 
    }
    .textItem{
        padding: 80px 20px;
        @include desktop {
            padding: 10% 20px 20px;
        }
    }

    .button {
        margin-top: 25px;
    }
}
// About planted section styles
.about {
    background: $white;
    padding: 80px 0;
    @include tabletWide {
        padding: 10% 0;
    }
    h2 {
        @include headingFontSize(43px);
        letter-spacing: 1.3px;
        padding: 15px;
        line-height: 1;
    }
}

// Four panel info section styles
.infoContainer {
    .item1 {

        @include desktop {
            grid-area: image1;
            position: relative;
            bottom: 10%; 
        }
        img {
            @include boxShadow;
            @include desktop {
                position: relative;
                bottom: 10%;
            }
        }
    }
    .item2 {
        @include desktop {
            grid-area: text1;
            text-align: left;
            padding-right: 15%;
        }
    }
    .item3 {
        @include desktop {
            grid-area: image2;
        }
        img {
            @include boxShadow(left);
            position: relative;
            top: 10%;
        }
    }
    .item4 {
        @include desktop {
            grid-area: text2;
            text-align: right;
            padding-left: 15%;
        }
    }
    @include desktop {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10%;
        grid-template-areas:
            "image1 text1"
            "text2 image2";
        width: 100%;
        max-width: 100%;
    }
}

// Planted features section styles
.community {
    background: $white;
    padding: 80px 30px;
    @include tabletWide {
        text-align: left;
        padding: 10% 30px;
    }
    i {
        font-size: 3.5rem;
        padding: 5px;
        display: flex;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: $yellow;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @include tabletWide {
            position: absolute;
            left: 0;
        }
    }
    .item {
        padding: 20px 0;
        transition: transform 250ms ease-out;
        @include tabletWide {
            flex-basis: 48%;
            position: relative;
        }
        p, h3 {
            @include tabletWide {
                padding-left: 80px;
            }
        }
        &:nth-of-type(2n+1):hover {
            transform: rotate(-5deg) scale(1.2);
        }
        &:nth-of-type(2n+2):hover {
            transform: rotate(5deg) scale(1.2);
        }
    }
    .item:nth-last-of-type(2n) {
        margin-right: 2%;
    }
    .wrapper {
        @include tabletWide {
            display: flex;
            flex-flow: row wrap;
        }
    }
}

// Planted founder section styles
.founder {
    background: $white;
    padding-bottom: 80px;
    img {
        @include boxShadow;
        margin: 0 auto 50px;
        max-width: 400px;
    }
    .wrapper {
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 10%;
            text-align: left;
        }
    }
    .founderRight {
        grid-column: 2 / 4;
    }
    &::before {
        content: "";
        display: block;
        width: 100%;
        background-image: url('../assets/bannerImage.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
        margin-bottom: 80px;
    }
}

// Gallery images section styles
.gallery { 
    padding: 80px 20px;
    .wrapper {
        @include tabletWide {
            display: flex;
            flex-flow: row wrap;
        }
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 2%;
        }
    }
}

.galleryItem {
    max-width: 500px;
    margin: 15px auto 0;
    transition: filter 250ms ease-out;
    filter: grayscale(100%);
    @include tabletWide {
        flex-basis: 48%;
        margin: 0 1%;
        &:last-child {
            margin: 0 auto;
            margin-top: 2%;
            @include desktop {
                margin: 0;
            }    
        }
    }
    &:hover {
        filter: grayscale(0%) drop-shadow(8px 8px 10px gray); 
    }
    @include desktop {
        margin: 0;
    }
}