.index {
    h3 {
       @include headingFontSize(32px);
       letter-spacing: 1px;
       padding: 15px 0 5px; 
    }
    .textItem{
        padding: 20px;
    }
    .imageItem:nth-of-type(1) {
        box-shadow: 9px 9px $yellow;
    }
    .imageItem:nth-of-type(3) {
        box-shadow: -9px 9px $yellow;
    }
    section, article {
        padding: 20px;
    }
}
.about {
    background: $white;
    h2 {
        @include headingFontSize(43px);
        letter-spacing: 1.3px;
        padding: 15px;
    }
}

.community {
    background: $white;
    i {
        font-size: 3.5rem;
        padding: 5px;
        display: flex;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: $yellow;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .item {
        padding: 20px 0;
    }
}

.banner {
    background-image: url('../assets/bannerImage.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.founder {
    background: $white;
    img {
        box-shadow: 9px 9px $yellow;
        margin-bottom: 10px;
    }
}

.galleryItem {
    margin-top: 15px;
}