.index {
    h3 {
       @include headingFontSize(32px);
       letter-spacing: 1px;
       padding: 15px 0 5px;
       line-height: 1; 
    }
    .textItem{
        padding: 20px;
    }
    .imageItem:nth-of-type(1) {
        box-shadow: 9px 9px $yellow;
    }
    .imageItem:nth-of-type(3) {
        box-shadow: -9px 9px $yellow;
    }
    section, article {
        padding: 20px;
    }
}
.about {
    background: $white;
    h2 {
        @include headingFontSize(43px);
        letter-spacing: 1.3px;
        padding: 15px;
        line-height: 1;
    }
}

.community {
    background: $white;
    @include tabletWide {
        text-align: left;
    }
    i {
        font-size: 3.5rem;
        padding: 5px;
        display: flex;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: $yellow;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @include tabletWide {
            position: absolute;
            left: 0;
        }
    }
    .item {
        padding: 20px 0;
        @include tabletWide {
            flex-basis: 48%;
            position: relative;
        }
        p, h3 {
            @include tabletWide {
                padding-left: 80px;
            }
        }
    }
    .item:nth-last-of-type(2n) {
        margin-right: 2%;
    }
    .wrapper {
        @include tabletWide {
            display: flex;
            flex-flow: row wrap;
        }
    }
}

.banner {
    background-image: url('../assets/bannerImage.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.founder {
    background: $white;
    img {
        box-shadow: 9px 9px $yellow;
        margin: 0 auto 10px;
        max-width: 400px;
    }
}


.galleryItem {
    max-width: 500px;
    margin: 15px auto 0;
    @include tabletWide {
        flex-basis: 48%;
        margin: 0 1%;
    }
}

.gallery .wrapper {
    @include tabletWide {
        display: flex;
        flex-flow: row wrap;
    }
}

.galleryItem:last-child {
    margin: 0 auto;
    margin-top: 2%;
}