// NAVIGATION STYLES
nav {
    position: absolute;
    top: -100%;
    transition: top 350ms ease;
    @include tablet {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
    }
    .wrapper {

        @include tablet {
            display: flex;
        }
    }
    span {
        font-family: $heading;
        font-size: 40px;
        padding: 10px;

    }
    ul {
        text-align: left;
        @include tablet {
            display: flex;
        } 
    }

    li {
        width: 100%;
        padding-top: 2px;
        @include tabletWide {
            margin: 0 10px;
        }
    }

    a {
        padding: 10px;
        text-transform: uppercase;
        display: inline-block;
        font-family: $heading;
        transition: transform 150ms linear;
        &:hover {
            a:hover {
        transform: translateX(10px);
            }
        }
    }
    
}
.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 30px;
    @include tablet {
        display: none;
    }
}

.showMenu {
    top: 20px;
    @include tablet {
        top: 0;
    }
}

// CONTACT & BLOG NAV STYLES

.contact nav, .blog nav {
    @include tablet{
        background: $black;
    }
}
