article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  min-width: 320px; }

body {
  font-size: 2.0rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 32px; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

p {
  margin: 10px 0; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.button {
  background: #0e902d;
  padding: 10px 15px;
  text-transform: capitalize;
  color: white;
  margin: 10px;
  -webkit-transition: -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease-out;
  transition: -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease-out;
  -o-transition: transform 250ms ease-out, box-shadow 150ms ease-out;
  transition: transform 250ms ease-out, box-shadow 150ms ease-out;
  transition: transform 250ms ease-out, box-shadow 150ms ease-out, -webkit-transform 250ms ease-out, -webkit-box-shadow 150ms ease-out; }
  .button:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

*:focus {
  outline: 2px solid #13be3c; }

nav {
  position: absolute;
  top: -100%;
  -webkit-transition: top 350ms ease;
  -o-transition: top 350ms ease;
  transition: top 350ms ease; }
  @media (min-width: 600px) {
    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    nav .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  nav span {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    padding: 10px; }
  nav ul {
    text-align: left; }
    @media (min-width: 600px) {
      nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  nav li {
    width: 100%;
    padding-top: 2px; }
    @media (min-width: 900px) {
      nav li {
        margin: 0 10px; } }
  nav a {
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    -webkit-transition: -webkit-transform 150ms linear;
    transition: -webkit-transform 150ms linear;
    -o-transition: transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear; }
    nav a:hover a:hover {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px); }

.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 30px; }
  @media (min-width: 600px) {
    .hamburger {
      display: none; } }

.showMenu {
  top: 20px; }
  @media (min-width: 600px) {
    .showMenu {
      top: 0; } }

@media (min-width: 600px) {
  .contact nav, .blog nav {
    background: #2c2c2c; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  background-size: cover;
  background-repeat: none;
  color: white; }

.index header {
  background-image: url("../assets/contactHeader.jpg");
  min-height: 75vh; }
  .index header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    color: white;
    margin: auto;
    display: block;
    text-align: left;
    line-height: 60px; }
    .index header h1 span {
      display: block;
      color: #f8e71c; }
  .index header [href="index.html"] {
    color: #f8e71c; }

.contact header,
.blog header {
  min-height: 50vh;
  background-position: center center; }
  .contact header h1,
  .blog header h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 92px;
    margin: auto;
    color: #f8e71c; }
    @media (min-width: 900px) {
      .contact header h1,
      .blog header h1 {
        margin: 0 0 0 5%;
        -ms-flex-item-align: end;
        align-self: flex-end; } }

.contact header {
  background-image: url("../assets/contactHeader.jpg"); }
  .contact header [href="contact.html"] {
    color: #f8e71c; }

.blog header {
  background-image: url("../assets/blogHeader.jpg"); }
  .blog header [href="blog.html"] {
    color: #f8e71c; }

.index h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  padding: 15px 0 5px;
  line-height: 1; }

.index .textItem {
  padding: 20px; }

.index .imageItem:nth-of-type(1) {
  -webkit-box-shadow: 9px 9px #f8e71c;
  box-shadow: 9px 9px #f8e71c; }

.index .imageItem:nth-of-type(3) {
  -webkit-box-shadow: -9px 9px #f8e71c;
  box-shadow: -9px 9px #f8e71c; }

.index section, .index article {
  padding: 20px; }

.about {
  background: #f0efed; }
  .about h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 43px;
    letter-spacing: 1.3px;
    padding: 15px;
    line-height: 1; }

.community {
  background: #f0efed; }
  @media (min-width: 900px) {
    .community {
      text-align: left; } }
  .community i {
    font-size: 3.5rem;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #f8e71c;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
    @media (min-width: 900px) {
      .community i {
        position: absolute;
        left: 0; } }
  .community .item {
    padding: 20px 0; }
    @media (min-width: 900px) {
      .community .item {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        position: relative; } }
    @media (min-width: 900px) {
      .community .item p, .community .item h3 {
        padding-left: 80px; } }
  .community .item:nth-last-of-type(2n) {
    margin-right: 2%; }
  @media (min-width: 900px) {
    .community .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }

.banner {
  background-image: url("../assets/bannerImage.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh; }

.founder {
  background: #f0efed; }
  .founder img {
    -webkit-box-shadow: 9px 9px #f8e71c;
    box-shadow: 9px 9px #f8e71c;
    margin: 0 auto 10px;
    max-width: 400px; }

.galleryItem {
  max-width: 500px;
  margin: 15px auto 0; }
  @media (min-width: 900px) {
    .galleryItem {
      -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
      margin: 0 1%; } }

@media (min-width: 900px) {
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; } }

.galleryItem:last-child {
  margin: 0 auto;
  margin-top: 2%; }

.contact main {
  padding: 20px 0; }
  .contact main form {
    margin-top: 40px; }

.socials i {
  padding: 10px;
  color: #0e902d; }

.contactInfo span {
  display: block; }
  .contactInfo span:first-of-type {
    font-weight: bold;
    margin: 15px 0; }

.blog {
  background: #f0efed; }
  .blog h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 32px;
    text-align: left; }
  .blog h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 43px;
    letter-spacing: 1.3px;
    padding: 20px 10px;
    line-height: 1; }
  .blog [type="text"], .blog [type="email"], .blog textarea {
    background: #f0efed; }
  .blog form {
    margin: 40px 0; }
  @media (min-width: 600px) {
    .blog [type="text"], .blog [type="email"] {
      width: 49%;
      display: inline-block; } }
  @media (min-width: 900px) {
    .blog [type="text"], .blog [type="email"] {
      width: 100%;
      display: block; } }
  @media (min-width: 1200px) {
    .blog [type="text"], .blog [type="email"] {
      width: 49%;
      display: inline-block; } }
  @media (min-width: 900px) {
    .blog > .wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 5% 2fr;
      grid-template-columns: 1fr 2fr;
      -ms-grid-rows: auto 0 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 0 5%;
      grid-template-areas: 'aside content' 'blank content';
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin: 0; } }
  @media (min-width: 900px) {
    .blog main {
      grid-area: content;
      position: relative;
      bottom: 10%;
      margin-bottom: -20%; } }
  .blog .innerWrapper {
    max-width: 800px; }

aside {
  text-align: left;
  margin-top: 40px;
  background: white;
  max-width: 620px; }
  @media (min-width: 900px) {
    aside {
      grid-area: aside;
      margin-left: 5%; } }
  @media (min-width: 900px) {
    .blog main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3; }
    aside {
    -ms-grid-row: 1;
    -ms-grid-column: 1; } }

.asideContent {
  padding: 15px; }
  @media (min-width: 600px) {
    .asideContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 900px) {
    .asideContent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.asideImage {
  position: relative;
  right: 5%;
  bottom: 20px;
  max-width: 500px; }

.asideAbout {
  margin-bottom: 40px; }
  @media (min-width: 600px) {
    .asideAbout {
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; } }
  .asideAbout a {
    color: #0e902d;
    font-style: italic; }

@media (min-width: 600px) {
  .asideRecent {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%; } }

.asideRecent ul {
  padding: 20px 50px; }

.asideRecent a {
  position: relative; }

.asideRecent a::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: #0e902d;
  border-radius: 50%;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.blogImage {
  margin-top: 40px;
  -webkit-box-shadow: -9px 9px #f8e71c;
  box-shadow: -9px 9px #f8e71c; }

.blogPost {
  -webkit-box-shadow: -9px 9px #f8e71c;
  box-shadow: -9px 9px #f8e71c;
  text-align: left;
  padding: 5px; }
  @media (min-width: 900px) {
    .blogPost {
      padding: 20px; } }
  .blogPost span {
    color: #0e902d;
    font-style: italic; }
  .blogPost a {
    font-weight: bold; }

.comments {
  text-align: left; }
  .comments h3 {
    padding: 30px; }

.commentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.profileImage {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100px;
  flex: 1 0 100px;
  padding: 3px; }

.commentContent {
  padding-left: 5px; }
  .commentContent span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0e902d; }

form {
  padding: 15px;
  -webkit-transition: 250ms -webkit-transform ease-out, 150ms -webkit-box-shadow ease-out;
  transition: 250ms -webkit-transform ease-out, 150ms -webkit-box-shadow ease-out;
  -o-transition: 250ms transform ease-out, 150ms box-shadow ease-out;
  transition: 250ms transform ease-out, 150ms box-shadow ease-out;
  transition: 250ms transform ease-out, 150ms box-shadow ease-out, 250ms -webkit-transform ease-out, 150ms -webkit-box-shadow ease-out;
  font-family: "Josefin Sans", sans-serif; }
  form:focus-within {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-box-shadow: 0px 0.2em 2.5em #0e0c0c;
    box-shadow: 0px 0.2em 2.5em #0e0c0c; }

input {
  border: none;
  border-bottom: 2px solid #0e902d;
  padding: 0 10px 15px;
  margin: 10px 0;
  width: 100%; }

textarea {
  height: 200px;
  border: 2px solid #0e902d;
  padding: 20px;
  width: 100%; }

[type="submit"] {
  background: #0e902d;
  color: white;
  padding: 15px 20px;
  -webkit-transition: 150ms background-color;
  -o-transition: 150ms background-color;
  transition: 150ms background-color; }
  [type="submit"]:hover {
    background-color: #09621e; }

footer {
  background: #2c2c2c;
  color: white;
  padding: 10px; }
  footer p {
    opacity: 0.5; }
